## Joining tables

In [1]:
import mysql.connector

In [3]:
mydb=mysql.connector.connect(host="localhost",user="root",password="manju18",database="python_db2")
mycursor=mydb.cursor()
mycursor.execute("select emp.eno,emp.ename,dept.dname from emp inner join dept on emp.deptno=dept.deptno")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

(113, 'devi', 'sales')
(111, 'manju', 'sales')
(112, 'kiran', 'marketing')