## Create of list

In [1]:
# create list with integer number

num=[10,20,30,40,50]
print('total list=',num)

total list= [10, 20, 30, 40, 50]

In [2]:
# display first and last element from the above list
print('first=%d,last=%d'%(num[0],num[4]))

first=10,last=50

In [3]:
# create list with string 
names=["manju","sri","pavani","devi"]
print("total list=",names)

total list= ['manju', 'sri', 'pavani', 'devi']

In [4]:
print("first=%s,last=%s"%(names[0],names[3]))

first=manju,last=devi

In [5]:
# create a list with different elements
x=[10,20,10.5,"manjula",'devi']
print(x)

[10, 20, 10.5, 'manjula', 'devi']

## create a list with range() function

In [7]:
# range(start,stop,stepsize)
# create a list with 0 to 9
list1=range(10)
for i in list1:
    print(i,'',end='')

0 1 2 3 4 5 6 7 8 9

In [8]:
# create a list with 0 to 9
list2=range(5,10)
for i in list2:
    print(i,'',end='')

5 6 7 8 9

In [10]:
list3=range(5,10,2)
for i in list3:
    print(i,',',end='')

5 ,7 ,9 ,

In [12]:
list=[10,20,30,40,50]
print("using while loop")
i=0
while i<len(list):
    print(list[i])
    i=i+1

using while loop
10
20
30
40
50

In [13]:
# method1
# display the list elements in reverse order
days=["sun","mon","tue","wed","thus","fri"]
print("reverse order:")
i=len(days)-1
while i>=0:
    print(days[i])  # display from 4th to 0th element
    i=i-1

reverse order:
fri
thus
wed
tue
mon
sun

## concatenation of two list

In [14]:
x=[10,20,30,40]
y=[100,200,300]
print(x+y)

[10, 20, 30, 40, 100, 200, 300]

## repetition of lists

In [15]:
print(x*2)

[10, 20, 30, 40, 10, 20, 30, 40]

## membership in list

In [17]:
x=[10,20,30,50]
a=20
print(a in x)
print(a not in x)

True
False

## Aliasing list vs cloning the list

In [19]:
x=[10,20,30,40]
y=x # x is aliased as y
print(x)
print(y)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [20]:
# After modification 
x[1]=99
print(x)
print(y)

[10, 99, 30, 40]
[10, 99, 30, 40]

## cloning

In [21]:
x=[10,20,30,40]
y=x[:]    # x is cloned as y
print(x)
print(y)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [22]:
# After modification 
x[1]=99
print(x)
print(y)

[10, 99, 30, 40]
[10, 20, 30, 40]

## program to understand list processing methods

In [28]:
# various list methods
num=[10,20,30,40,50]
n=len(num)
print("no.of elements in num:",n)
num.append(60)
print("num after appending 60",num)
num.insert(0,5)
print("num after inserting 5 at 0th position:",num)
num1=num.copy()
print("newly created list num1:",num1)
num.extend(num1)
print("num after appending num1:",num)

no.of elements in num: 5
num after appending 60 [10, 20, 30, 40, 50, 60]
num after inserting 5 at 0th position: [5, 10, 20, 30, 40, 50, 60]
newly created list num1: [5, 10, 20, 30, 40, 50, 60]
num after appending num1: [5, 10, 20, 30, 40, 50, 60, 5, 10, 20, 30, 40, 50, 60]

In [39]:
n=num.count(50)
print("no.of times 50 found in the list num:",n)
# num.remove(50)
# print("num after removing 50:",num)
num.pop()
print("num after removing ending element:",num)
num.sort()
print("num after sorting:",num)
num.reverse()
print("num after reverse:",num)
num.clear()
print("num after removing all elements:",num)

no.of times 50 found in the list num: 0
num after removing ending element: [40, 30, 30, 20, 20, 10, 10, 5]
num after sorting: [5, 10, 10, 20, 20, 30, 30, 40]
num after reverse: [40, 30, 30, 20, 20, 10, 10, 5]
num after removing all elements: []

## program for find max and min elements in a list of elements

In [42]:
x=[]
print("how many elements?",end='') 
n=int(input())   # accept input into n
for i in range(n):
    print("enter element:",end='')
    x.append(int(input()))   # add element to the list x
print("the list is:",x)   # display the list
big=x[0]
small=x[0]
for i in range(1,n):
    if x[i]>big:
        big=x[i]   # if any other elements is >big,take it as big
    if x[i]<small:
        small=x[i]
print("maximum value is:",big)
print("minimum value is:",small)

how many elements?5
enter element:23
enter element:29
enter element:5
enter element:9
enter element:23
the list is: [23, 29, 5, 9, 23]
maximum value is: 29
minimum value is: 5

In [4]:
days=["sun","mon","tue","wed","thus","fri"]
print("reverse order:")
print(days[-1])

reverse order:
fri