In [3]:
import pymongo
myclient=pymongo.MongoClient("mongodb://localhost:27017/")

In [4]:
mydb=myclient["evr_db2"]
mycol=mydb["emp"]

In [6]:
mylist2=[{"_id":1,"name":"john","address":"delhi"},
         {"_id":2,"name":"manju","address":"chennai"}]
x=mycol.insert_many(mylist2)
print(x.inserted_ids)

[1, 2]

## Find documents with the address "Hyderabad"

In [7]:
myquery={"address":"hyderabad"}
mydoc=mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('630e2bd14c115f65fcb0defd'), 'name': 'anju', 'address': 'hyderabad'}
{'_id': ObjectId('630e2d674c115f65fcb0deff'), 'name': 'naresh', 'address': 'hyderabad'}
{'_id': ObjectId('630f60ba057b9b75253876b5'), 'name': 'ravi', 'address': 'hyderabad', 'age': '32'}

## Find documents where address starts with the letter "H"

In [9]:
## select * from emp where address="hyderabad";
myquery={"address":{"$regex":"^h"}}
mydoc=mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('630e2bd14c115f65fcb0defd'), 'name': 'anju', 'address': 'hyderabad'}
{'_id': ObjectId('630e2d674c115f65fcb0deff'), 'name': 'naresh', 'address': 'hyderabad'}
{'_id': ObjectId('630f60ba057b9b75253876b5'), 'name': 'ravi', 'address': 'hyderabad', 'age': '32'}

## Sorting documents by name

In [12]:
## select * from emp order by ename;
mydoc=mycol.find().sort("name")        # display in descending order
for x in mydoc:
    print(x)

{'_id': ObjectId('630e2bd14c115f65fcb0defd'), 'name': 'anju', 'address': 'hyderabad'}
{'_id': ObjectId('630f60108bb556613efc05e9'), 'id': 1, 'name': 'john', 'address': 'delhi'}
{'_id': 1, 'name': 'john', 'address': 'delhi'}
{'_id': ObjectId('630e2d674c115f65fcb0df01'), 'name': 'mani', 'address': 'rajahmundry'}
{'_id': ObjectId('630e2a3a4c115f65fcb0defc'), 'name': 'manju', 'address': 'rajahmundry'}
{'_id': ObjectId('630f60108bb556613efc05ea'), 'id': 2, 'name': 'manju', 'address': 'chennai'}
{'_id': 2, 'name': 'manju', 'address': 'chennai'}
{'_id': ObjectId('630e2d674c115f65fcb0deff'), 'name': 'naresh', 'address': 'hyderabad'}
{'_id': ObjectId('630f60ba057b9b75253876b5'), 'name': 'ravi', 'address': 'hyderabad', 'age': '32'}
{'_id': ObjectId('630f6147057b9b75253876b6'), 'name': 'sunil', 'address': 'guntur', 'age': 32, 'mobile': 123456789}
{'_id': ObjectId('630e2d674c115f65fcb0defe'), 'name': 'suresh', 'address': 'bangolore st23'}

## Deleting document using delete_one()

In [11]:
myquery={"address":"delhi"}
mycol.delete_one(myquery)

## Delete many documents

In [13]:
myquery={"address":"hyderabad"}
x=mycol.delete_many(myquery)
print(x.deleted_count,"documents deleted.....")

3 documents deleted.....

In [14]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('630e2a3a4c115f65fcb0defc'), 'name': 'manju', 'address': 'rajahmundry'}
{'_id': ObjectId('630e2d674c115f65fcb0defe'), 'name': 'suresh', 'address': 'bangolore st23'}
{'_id': ObjectId('630e2d674c115f65fcb0df01'), 'name': 'mani', 'address': 'rajahmundry'}
{'_id': ObjectId('630f60108bb556613efc05e9'), 'id': 1, 'name': 'john', 'address': 'delhi'}
{'_id': ObjectId('630f60108bb556613efc05ea'), 'id': 2, 'name': 'manju', 'address': 'chennai'}
{'_id': 1, 'name': 'john', 'address': 'delhi'}
{'_id': 2, 'name': 'manju', 'address': 'chennai'}
{'_id': ObjectId('630f6147057b9b75253876b6'), 'name': 'sunil', 'address': 'guntur', 'age': 32, 'mobile': 123456789}

## Update documents using update_one()

In [15]:
myquery={"address":"guntur"}
newvalues={"$set":{"address":"hyderabad"}}
mycol.update_one(myquery,newvalues)
for x in mycol.find():
    print(x)

{'_id': ObjectId('630e2a3a4c115f65fcb0defc'), 'name': 'manju', 'address': 'rajahmundry'}
{'_id': ObjectId('630e2d674c115f65fcb0defe'), 'name': 'suresh', 'address': 'bangolore st23'}
{'_id': ObjectId('630e2d674c115f65fcb0df01'), 'name': 'mani', 'address': 'rajahmundry'}
{'_id': ObjectId('630f60108bb556613efc05e9'), 'id': 1, 'name': 'john', 'address': 'delhi'}
{'_id': ObjectId('630f60108bb556613efc05ea'), 'id': 2, 'name': 'manju', 'address': 'chennai'}
{'_id': 1, 'name': 'john', 'address': 'delhi'}
{'_id': 2, 'name': 'manju', 'address': 'chennai'}
{'_id': ObjectId('630f6147057b9b75253876b6'), 'name': 'sunil', 'address': 'hyderabad', 'age': 32, 'mobile': 123456789}

##  using Limit()

In [16]:
myresult=mycol.find().limit(2)
for x in myresult:
    print(x)

{'_id': ObjectId('630e2a3a4c115f65fcb0defc'), 'name': 'manju', 'address': 'rajahmundry'}
{'_id': ObjectId('630e2d674c115f65fcb0defe'), 'name': 'suresh', 'address': 'bangolore st23'}

## Drop collection

In [17]:
mycol.drop()