## MongoDB CRUD operations

In [3]:
import pymongo
myclient=pymongo.MongoClient("mongodb://localhost:27017/")
mydb=myclient["evr_db2"]

In [4]:
myclient

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
mydb

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'evr_db2')

## To display database list

In [6]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'mydb2']

## Creating a collection

In [ ]:
import pymongo
myclient=pymongo.MongoClient("mongodb://localhost:27017/")

In [7]:
mydb=myclient["evr_db2"]
mycol=mydb["emp"]

## To display collection list

In [8]:
print(mydb.list_collection_names())

[]

In [10]:
mydict={"name":"manju","address":"rajahmundry"}
x=mycol.insert_one(mydict)

In [11]:
print(mydb.list_collection_names())

['emp']

In [13]:
print(myclient.list_database_names())

['admin', 'config', 'evr_db2', 'local', 'mydb2']

In [14]:
mydict={"name":"anju","address":"hyderabad"}
x=mycol.insert_one(mydict)
print(x.inserted_id)

630e2bd14c115f65fcb0defd

## Insert multiple documents

In [15]:
mylist=[
    {"name":"suresh","address":"bangolore st23"},
    {"name":"naresh","address":"hyderabad"},
    {"name":"ganesh","address":"delhi"},
    {"name":"mani","address":"rajahmundry"}
    ]
x=mycol.insert_many(mylist)
print(x.inserted_ids)

[ObjectId('630e2d674c115f65fcb0defe'), ObjectId('630e2d674c115f65fcb0deff'), ObjectId('630e2d674c115f65fcb0df00'), ObjectId('630e2d674c115f65fcb0df01')]

## findone() find()

In [16]:
x=mycol.find_one()
print(x)

{'_id': ObjectId('630e2a3a4c115f65fcb0defc'), 'name': 'manju', 'address': 'rajahmundry'}

## To display all documents from the collection emp (i.e.,mycol)

In [17]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('630e2a3a4c115f65fcb0defc'), 'name': 'manju', 'address': 'rajahmundry'}
{'_id': ObjectId('630e2bd14c115f65fcb0defd'), 'name': 'anju', 'address': 'hyderabad'}
{'_id': ObjectId('630e2d674c115f65fcb0defe'), 'name': 'suresh', 'address': 'bangolore st23'}
{'_id': ObjectId('630e2d674c115f65fcb0deff'), 'name': 'naresh', 'address': 'hyderabad'}
{'_id': ObjectId('630e2d674c115f65fcb0df00'), 'name': 'ganesh', 'address': 'delhi'}
{'_id': ObjectId('630e2d674c115f65fcb0df01'), 'name': 'mani', 'address': 'rajahmundry'}