In [2]:
import mysql.connector

In [3]:
mydb=mysql.connector.connect(host="localhost",user="root",password="manju18")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E9A943C220>

## create database

In [4]:
mydb=mysql.connector.connect(host="localhost",user="root",password="manju18")
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE python_db2")

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E9A943C370>

## To show all databases

In [6]:
mydb=mysql.connector.connect(host="localhost",user="root",password="manju18")
mycursor=mydb.cursor()
mycursor.execute("show databases")
for x in mycursor:
    print(x)

('information_schema',)
('manju',)
('manjudb',)
('mysql',)
('performance_schema',)
('python_db2',)
('sys',)

## Table creation

In [9]:
mydb=mysql.connector.connect(host="localhost",user="root",password="manju18",database="python_db2")
mycursor=mydb.cursor()
mycursor.execute("create table customer1(name varchar(50),address varchar(50))")

## show the list of tables in the given database

In [15]:
mydb=mysql.connector.connect(host="localhost",user="root",password="manju18",database="python_db2")
mycursor=mydb.cursomr()
mycursor.execute("show tables")
for x in mycursor:
    print(x)

AttributeError: 'CMySQLConnection' object has no attribute 'cursomr'

## Insert records into table

In [20]:
mydb=mysql.connector.connect(host="localhost",user="root",password="manju18",database="python_db2")
mycursor=mydb.cursor()
sql="insert into customer(name,address) values(%s,%s)"
val=("manju","rajahmundry")
mycursor.execute(sql,val)
mydb.commit()
print(mycursor.rowcount,"record(s) inserted....")

1 record(s) inserted....

## Insert multiple records

In [17]:
mydb=mysql.connector.connect(host="localhost",user="root",password="manju18",database="python_db2")
mycursor=mydb.cursor()
sql="insert into customer(name,address) values(%s,%s)"
val=[('manju','rajahmundry'),
     ('kiran','4/7brodipet'),
     ('suresh','ameerpet st23')]
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount,"records inserted....")

3 records inserted....

## Retrieve records from table with fetchall() methods

In [19]:
mydb=mysql.connector.connect(host="localhost",user="root",password="manju18",database="python_db2")
mycursor=mydb.cursor()
mycursor.execute("select * from customer")
myresult=mycursor.fetchall()
for x in myresult:
    print(x)

('manju', 'rajahmundry')
('devi', 'hyderabad')
('manju', 'rajahmundry')
('kiran', '4/7brodipet')
('suresh', 'ameerpet st23')

## Deletion of records

In [21]:
mydb=mysql.connector.connect(host="localhost",user="root",password="manju18",database="python_db2")
mycursor=mydb.cursor()
mycursor.execute("delete from customer where address='rajahmundry'")
mydb.commit()
print(mycursor.rowcount,"recor(s) deleted....")

3 recor(s) deleted....