### Creating series from Numpy Array

In [1]:
import numpy as np
import pandas as pd
arr=np.array([10,20,30,40])
Ser=pd.Series(arr)
Ser

0    10
1    20
2    30
3    40
dtype: int32

In [2]:
arr=np.array([10,20,30,40])
ser=pd.Series(arr)
ser

0    10
1    20
2    30
3    40
dtype: int32

In [3]:
print(type(ser))

<class 'pandas.core.series.Series'>

In [7]:
# coverting series into numpy array
a=Ser.values
a

array([10, 20, 30, 40])

In [9]:
# create series from a dictionary
my_dict={
    "name":["manju","sri","pavani","devi"],
    "age":[25,34,18,45],
    "designation":["developer","tester","CEO","manager"]
}

In [10]:
# creating series from the dictionary
ser1=pd.Series(my_dict)
ser1

name                  [manju, sri, pavani, devi]
age                             [25, 34, 18, 45]
designation    [developer, tester, CEO, manager]
dtype: object

In [11]:
# Accessing elements of a series
names=ser1["name"]  # or name=ser1[0]
names

['manju', 'sri', 'pavani', 'devi']

In [12]:
# To retrieve any name from the list
names=ser1["name"][1]
names

'sri'